useDynLib(BMA)

import(survival, leaps, robustbase)

export(bicreg)

export(bic.glm,
       bic.glm.data.frame,
       bic.glm.formula,
       bic.glm.matrix)

export(bic.surv,
       bic.surv.data.frame,
       bic.surv.formula,
       bic.surv.matrix)

export(as.bic.glm,
       summary.glib,
       as.bic.glm.glib,
       glib,
       glib.data.frame,
       glib.matrix,
       glib.bic.glm)

export(iBMA.bicreg,
       iBMA.bicreg.data.frame,
       iBMA.bicreg.iBMA.intermediate.bicreg,
       iBMA.bicreg.matrix)       

export(iBMA.glm,
       iBMA.glm.data.frame,
       iBMA.glm.iBMA.intermediate.glm,
       iBMA.glm.matrix)       
       
export(iBMA.surv,
       iBMA.surv.data.frame,
       iBMA.surv.iBMA.intermediate.surv,
       iBMA.surv.matrix)       
       
export(print.iBMA.surv, print.iBMA.bicreg, print.iBMA.glm,
       summary.iBMA.surv, summary.iBMA.bicreg, summary.iBMA.glm,
       print.iBMA.intermediate.surv,
       print.iBMA.intermediate.bicreg,
       print.iBMA.intermediate.glm,
       summary.iBMA.intermediate.surv,
       summary.iBMA.intermediate.bicreg,
       summary.iBMA.intermediate.glm)

export(imageplot.bma) 

export(orderplot,
       orderplot.iBMA.glm, orderplot.iBMA.bicreg, orderplot.iBMA.surv,
       orderplot.iBMA.intermediate.glm,
       orderplot.iBMA.intermediate.bicreg,
       orderplot.iBMA.intermediate.surv)

export(For.MC3.REG,
       MC3.REG,
       MC3.REG.choose,
       MC3.REG.logpost,
       out.ltsreg)

S3method("print",mc3)
S3method("summary",mc3)
S3method("[",mc3)
S3method("as.data.frame",mc3)

S3method("predict",bic.glm)
S3method("predict",bicreg)

S3method("plot",bic.glm)
S3method("plot",bicreg)
S3method("plot",bic.surv)

S3method("print",bic.glm)
S3method("print",bicreg)
S3method("print",bic.surv)
S3method("print",iBMA.surv)
S3method("print",iBMA.intermediate.surv)
S3method("print",iBMA.bicreg)
S3method("print",iBMA.intermediate.bicreg)
S3method("print",iBMA.glm)
S3method("print",iBMA.intermediate.glm)

S3method("summary",bic.glm)
S3method("summary",bicreg)
S3method("summary",bic.surv)
S3method("summary",iBMA.surv)
S3method("summary",iBMA.intermediate.surv)
S3method("summary",iBMA.bicreg)
S3method("summary",iBMA.intermediate.bicreg)
S3method("summary",iBMA.glm)
S3method("summary",iBMA.intermediate.glm)

